# ----------------------------------------
# 1. DEPENDENCIAS (EXCLUIDAS DE GIT/DOCKER)
# ----------------------------------------
/client/node_modules
/server/node_modules

# ----------------------------------------
# 2. ARCHIVOS DE COMPILACIÓN Y CACHÉ
# ----------------------------------------
/client/dist
/server/dist
/server/build
/server/*.tsbuildinfo
/.idea
.vscode/

# ----------------------------------------
# 3. ARCHIVOS CRÍTICOS Y LOCALES
# ----------------------------------------
.env
/server/.env
/client/.env
/infra/docker/.env

# ----------------------------------------
# 4. ARCHIVOS GENERADOS POR USUARIO (UPLOADS)
# ----------------------------------------
# EXCLUIMOS todos los archivos en uploads, pero mantenemos el .gitkeep
/server/uploads/*
!/server/uploads/.gitkeep

# ----------------------------------------
# 5. LOGS Y CACHÉ DEL SISTEMA
# ----------------------------------------
*.log
npm-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.zip
*.tar.gz