
JWT_SECRET=4f6c7793b82a5d1f8e9c4b2a6f0d1e3a7b9c5d8e2f1a6b0c4d8e7f9a1b3c5d7e8f2a4b6c1d3e5f7a9b0c2d4e6f8a0b2c4d6e8f0a2b4c6d8e0f2a4b6c8d0e2f4

# URL publica del frontend (para enlaces de reset)
FRONTEND_URL=http://localhost:8080


CLOUDFLARE_TUNNEL_TOKEN=tu-token-de-tunnel

N8N_WEBHOOK_URL=http://n8n:5678/webhook/audit-completed
N8N_WEBHOOK_URL_COMMENT=http://n8n:5678/webhook/nuevo-comentariO
N8N_WEBHOOK_URL_RESET=http://n8n:5678/webhook/reset-password
